
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    position: absolute;
    top :0px;
    left: 347px;
    width: calc(100% - 450px);
    height: 120px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid #D8B9C3;
   
   
   
}

.left{
    /* border: 1px solid black; */
    position: absolute;
    top: 0px;
    width: 345px;
    height: 100vh;
   

}
body{
    margin: 0px;
    padding: 0px;

}
.logo{
    /* border: 1px solid black; */
    height: 120px;
    width: 345px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #D8B9C3;
    border-right: 1px solid #D8B9C3;

}
.menu{
    /* border: 1px solid black;  */
    padding-left: 30px;
    padding-right: 30px;
    height: 190vh;
    border-right: 1px solid #D8B9C3;
}
.grandparent{
    height: calc(100vh -120px)
}
.text{
    margin: 0px;
    padding: 0px;

    list-style-type: none  ;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #969BA0;
padding-top: 20px;
padding-bottom: 23px;
margin-top: 8px;
padding-left: 74px;
padding-right: 130px;
}
li:hover{
    cursor: pointer;
    color: #363062;
    background-color: #EEEEEE;
    border-radius: 9px;
}
h1{
    padding: 0px;
    margin: 0px;
    color: #363062;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    
    
}
.home{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;



}
ul{
    padding: 0px;
    margin: 0px;

   
    
}
.ulofimg{
    display: flex;
    gap: 18px;
}
    
.img{
    height: 56px;
    width: 56px;
    border: 1px solid #D8B9C3;
border-radius: 14px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}
.imgpr{
    list-style: none;
}
.dot{
    height: 16px;
    width: 16px;
    background-color: #D8B9C3;
    border-radius: 100%;
    position: absolute;
    top:-5px;
    right: -8px;
}

.d{
   
    padding-top: 8px;
}
.d li:first-child{
    margin: 0px;
}
.group{
    margin-top: 124px;
    display: flex;
    gap: 18px;
    width: 1472px;
height: 191px;

position: absolute;
top:120px;
left: 346px;
width: calc(100% - 400px);
margin-left: 50px;
margin-right: 50px;


}
.card1{
    width: 339px;
height: 191px;

padding-top: 30px;
padding-left: 20px;
padding-bottom: 25px;
padding-right: 25px;
height: auto;
background: linear-gradient(111.3deg, rgb(74, 105, 187) 9.6%, rgb(205, 77, 204) 93.6%);
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
border-radius: 12px;

}
.card2{
    width: 339px;
height: 191px;

padding-top: 30px;
padding-left: 20px;
padding-bottom: 25px;
padding-right: 25px;
height: auto;
background-color: #20bf55;
background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
border-radius: 12px;
}
.card3{
    width: 339px;
height: 191px;

padding-top: 30px;
padding-left: 20px;
padding-bottom: 25px;
padding-right: 25px;
height: auto;
background-color: #e899dc;
background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
border-radius: 12px;
}
.card4{
    width: 339px;
height: 191px;

padding-top: 30px;
padding-left: 20px;
padding-bottom: 25px;
padding-right: 25px;
height: auto;
background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
border-radius: 12px;
}
.parent1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 43px;
}

.accno{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
letter-spacing: 0.2em;
color: #FFEF60;
}
.wallet{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
color: #FFFFFF;
}
.amount{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
color: #FFFFFF;
}
body{
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
    padding: 0px;
}
table
{
    margin: 0px;
    padding: 0px;
    width: calc(100% - 15px);
    table-layout: fixed;
    padding-left: 50px;
 
   
 
}

.tablehead th{
    text-align: left;
    padding: 12px;
}
.tablebody td{
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 16px;
    padding-right: 16px;
}
.product{
    display: flex;
    gap: 8px;
    align-items: center;
}
.action{
    display: flex;
    gap: 25px;
}

.delivered{
   
 font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #1F9254;
display: flex;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 10px;
width: 43px;
height: 11px;
background: #EBF9F1;
border-radius: 22px;

}
.tablebody{
    height: calc(100vh - 70px);
  
    position: absolute;
    left: 345px;
    top: 550px;
   
}
.tablehead{
    position: absolute;
    left: 345px;
    top: 500px;
    
}
